h1{
    font-weight: bold;
    font-size: 50px;
    font-family: cursive;
    color: #034F50;
}


ion-input{
    color:black;
    font-weight: bold;
    font-size: 15px;
    font-family: cursive;
    text-align: center;
}