#imagePickerArea{
    display: none;
}

#player{
    border: 1px solid palevioletred;
}
#canvas{
    border: 1px solid purple;
    display: none;
}
#captureBtn{
    display: block;
}
#imagePickerArea{
    display: none;
}